[submodule "wa-sqlite"]
	path = wa-sqlite
	url = git@github.com:rhashimoto/wa-sqlite.git
[submodule "rs/sqlite-loadable-rs"]
	path = rs/sqlite-loadable-rs
	url = git@github.com:tantaman/sqlite-loadable-rs.git
